.product{
    display: flex;
    justify-content: space-between;
    height: 600px;
    width: 100%;
    border: 1px solid red;
}
.product_first{
    height: 600px;
    width: 30%;
    border: 1px solid red;
}
.product_second{
    height: 600px;
    width: 68%;
    border: 1px solid red;
}